html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
}

.text-center {
    text-align: center;
}

.flex-center {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.button {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 0;
    box-sizing: border-box;
    color: #222;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    font-size: 14px;
    line-height: 38px;
    margin: 0;
    overflow: visible;
    padding: 0 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .1s ease-in-out;
    transition-property: color,background-color,border-color;
    vertical-align: middle;
}

.button-primary {
    color: #fff;
    background-color: #240b36;
}

.app-header {
    background: linear-gradient(to right, #c31432, #240b36);
    box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
    color: white;
    padding: 20px 0 20px;
}

.app-header-grid {
    display: flex;
    justify-content: space-between;
}

.app-masthead {
    color: #fff;
    text-decoration: none;
}

.app-logo {
    margin-right: 10px;
    vertical-align: text-top;
    width: 20px;
}

.app-title {
    font-size: 20px;
}

.app-nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.app-nav-link {
    color: #fff;
    text-decoration: none;
}

.app-footer {
    border-top: 1px solid #ccc;
    background-color: #eee;
    margin-top: 50px;
    height: 100px;
}

.app-lead-content {
    font-size: 18px;
    line-height: 1.3em;
    margin: 35px 0;
    max-width: 600px;
}

.featured-boards {
}

.board-card {
    align-items: center;
    /*box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);*/
    border: 1px solid #ddd;
    border-left: 5px solid #c31432;
    color: #444;
    display: flex;
    line-height: 1.4em;
    margin-bottom: 25px;
    min-height: 80px;
    padding: 0 15px;
    text-decoration: none;
    transition: all 150ms ease-in-out;
}

.board-card:hover {
    box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
    transform: translateY(-2px);
}

.leaderboard {
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    max-width: 800px;
}

.leaderboard-table-headings {
    border-bottom: 2px solid #ccc;
    display: flex;
    padding: 5px 15px 0;
    width: 100%;
}

.leaderboard-table-headings > span {
    font-weight: 700;
    padding: 15px 0 8px;
}

.leaderboard-table-headings > span:first-child {
    flex-basis: 15%;
    text-align: center;
}

.leaderboard-table-headings > span:last-child {
    flex-basis: 10%;
    margin-left: auto;
}

.leaderboard-list {
    list-style-type: none;
    padding: 15px;
    margin: 0;
}

.leaderboard-item {
    position: relative;
}

.leaderboard-item-container {
    background-color: #fff;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.1), 0 1px 1px 0 rgba(0,0,0,.07), 0 1px 3px 0 rgba(0,0,0,.06);
    border: none;
    border-bottom: 1px solid #ccc;
    color: #444;
    display: block;
    min-height: 78px;
    text-decoration: none;
    transition: all 100ms ease-in-out;
    width: 100%;
}

.leaderboard-item-container:hover {
    background-color: #fef9fa;
    /*
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    transform: translateY(-2px);
    */
}

.leaderboard-item-container-add span {
    font-weight: 700;
    text-align: center;
    width: 100%;
}

.leaderboard-item-content {
    align-items: center;
    display: flex;
    position: relative;
    min-height: 78px;
}

.leaderboard-item-content span {
    display: block;
}

.leaderboard-item-link-position {
    flex-basis: 15%;
    font-weight: 900;
    text-align: center;
}

.leaderboard-item-link-name {
    font-weight: 900;
    line-height: 1.2em;
    margin-bottom: 3px;
}

.leaderboard-item-link-url {
    color: #666;
    display: block;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.leaderboard-item-link-url:hover {
    text-decoration: underline;
}

.leaderboard-item-link-score {
    flex-basis: 15%;
    margin-left: auto;
    font-weight: 700;
    text-align: left;
}

.leaderboard-item-progress-bar {
    background-color: #c31432;
    height: 3px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.form {
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    padding: 25px;
    margin: 35px 0;
}

.form h1 {
    margin-top: 0;
}

.form > div {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
}

.form-input {
    height: 40px;
    vertical-align: middle;
    display: inline-block;
}

.form-input,
.form-select,
.form-textarea {
    background: #fff;
    border: 1px solid #ccc;
    color: #666;
    max-width: 100%;
    padding: 0 10px;
    transition: .2s ease-in-out;
    transition-property: color,background-color,border;
    width: 100%;
}